@{
    ViewBag.Title = "Contact";
}

<h2>Contact me at:</h2>
<br>
<address>
    Dharmsinh Desai University<br />
    College Road, Nadiad<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:utsavp0213@gmail.com">utsavp0213@gmail.com</a><br />
    <strong>Check out my repos:</strong> <a href="https://github.com/utsav00">utsav00</a>
</address>