@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reddit-Clone</h1>
    <p class="lead">Reddit-Clone, as the name suggests, is a try at duplicating Reddit behaviour for purely educational purposes.</p>
    <p><a href="https://github.com/utsav00/Reddit-Clone" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>Initially, wanted to mimic Reddit's behaviour without the architecture part to learn how things work and then slowly move on to the whole architecture set-up.</p>
    </div>
</div>